/* Make the component a positioning reference */
.POPOSSpace {
    position: relative;
  }
  
  /* Make images flexible */
  .POPOSSpace img {
    width: 100%;
    height: auto;
  }
  
  /* Style the title link */
  .POPOSSpace .POPOSSpace-title {
    text-decoration: none;
    color: #000;
  }
  
  /* Position the title at the top left */
  .POPOSSpace h1 {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    font-weight: lighter;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 1rem;
    text-align: left;
  }
  
  /* Position address and hours in the bottom right */
  .POPOSSpace .POPOSSpace-info {
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: right;
  }
  
  /* Style address and hours with background */
  .POPOSSpace .POPOSSpace-info div {
    display: inline-block;
    padding: 0.25em 0.5em;
    background-color: rgba(255, 255, 255, 0.9);
  }
  